In [1]:
import pyodbc
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline

c:\users\jhpark1\anaconda3\envs\tc\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\users\jhpark1\anaconda3\envs\tc\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\users\jhpark1\anaconda3\envs\tc\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                     'Server=ğŸ§¡;'
                     'Database=ğŸ’›;'
                     'UID=ğŸ’š;'
                     'PWD=ğŸ’œ')

In [3]:
cursor = conn.cursor()

In [4]:
# ê°œë³„ì‹œì„¸ ë¶ˆëŸ¬ì˜¤ê¸° (ì „ì²´)
# df1 = pd.read_sql_query("SELECT * FROM (SELECT D.ì•„íŒŒíŠ¸ì½”ë“œ, D.ì•„íŒŒíŠ¸ëª…, D.ì…ì£¼ì—°ë„,D.ë„ì‹œ, D.êµ¬ì‹œêµ° , D.ìë©´ë™, C.í‰í˜•, C.í‰í˜•íƒ€ì…,C.ì„¸ëŒ€ìˆ˜, C.ì¡°ì‚¬ì¼, C.ë§¤ë§¤í•˜í•œê°€, C.ë§¤ë§¤ìƒí•œê°€ FROM (SELECT A.ì•„íŒŒíŠ¸ì½”ë“œ, A.í‰í˜•, A.í‰í˜•íƒ€ì…, A.ì„¸ëŒ€ìˆ˜, B.ì¡°ì‚¬ì¼, B.ë§¤ë§¤í•˜í•œê°€, B.ë§¤ë§¤ìƒí•œê°€ FROM modu.P_APTSUB AS A INNER JOIN modu.P_APTHPRICE AS B ON A.ì•„íŒŒíŠ¸ì½”ë“œ = B.ì•„íŒŒíŠ¸ì½”ë“œ AND A.í‰í˜• = B.í‰í˜• AND A.í‰í˜•íƒ€ì… = B. í‰í˜•íƒ€ì… WHERE B.ì¡°ì‚¬ì¼ > 19970000 and B.ì¡°ì‚¬ì¼ < 20140000) AS C INNER JOIN modu.P_APT AS D ON C.ì•„íŒŒíŠ¸ì½”ë“œ = D.ì•„íŒŒíŠ¸ì½”ë“œ) AS E WHERE E.ë„ì‹œ = 'ì„œìš¸íŠ¹ë³„ì‹œ' and E.êµ¬ì‹œêµ° = 'ê°•ë‚¨êµ¬'", conn)
df = pd.read_sql_query("SELECT * FROM (SELECT D.ì•„íŒŒíŠ¸ì½”ë“œ, D.ì•„íŒŒíŠ¸ëª…, D.ì…ì£¼ì—°ë„,D.ë„ì‹œ, D.êµ¬ì‹œêµ° , D.ìë©´ë™, C.í‰í˜•, C.í‰í˜•íƒ€ì…,C.ì„¸ëŒ€ìˆ˜, C.ì£¼íƒí˜•, C.ë¶„ì–‘ê°€, C.ì¡°ì‚¬ì¼, C.ë§¤ë§¤í•˜í•œê°€, C.ë§¤ë§¤ìƒí•œê°€, C.ì „ì„¸í•˜í•œê°€, C.ì „ì„¸ìƒí•œê°€ FROM (SELECT A.ì•„íŒŒíŠ¸ì½”ë“œ, A.í‰í˜•, A.í‰í˜•íƒ€ì…, A.ì„¸ëŒ€ìˆ˜, B.ì¡°ì‚¬ì¼, A.ì£¼íƒí˜•, A.ë¶„ì–‘ê°€, B.ë§¤ë§¤í•˜í•œê°€, B.ë§¤ë§¤ìƒí•œê°€, B.ì „ì„¸í•˜í•œê°€, B.ì „ì„¸ìƒí•œê°€ FROM modu.P_APTSUB AS A INNER JOIN modu.P_APTHPRICE AS B ON A.ì•„íŒŒíŠ¸ì½”ë“œ = B.ì•„íŒŒíŠ¸ì½”ë“œ AND A.í‰í˜• = B.í‰í˜• AND A.í‰í˜•íƒ€ì… = B. í‰í˜•íƒ€ì…) AS C INNER JOIN modu.P_APT AS D ON C.ì•„íŒŒíŠ¸ì½”ë“œ = D.ì•„íŒŒíŠ¸ì½”ë“œ) AS E WHERE E.ë§¤ë§¤í•˜í•œê°€ > 0 AND E.ì¡°ì‚¬ì¼ NOT LIKE '% %'", conn)

# SQL ì¿¼ë¦¬ì˜ ì¡°íšŒì¡°ê±´ìœ¼ë¡œ ëŒ€ì²´
# df = df[df["aptprice"] != 0]
# df = df[(df["ì¡°ì‚¬ì¼"].str.contains(' ')) == False]

df["aptprice"] = df[['ë§¤ë§¤í•˜í•œê°€','ë§¤ë§¤ìƒí•œê°€']].mean(axis=1)
df["aptprice_all_sum"] = df["aptprice"] * df["ì„¸ëŒ€ìˆ˜"]
df["js_price"] = df[['ì „ì„¸í•˜í•œê°€', 'ì „ì„¸ìƒí•œê°€']].mean(axis=1)
df["js_rate"] = (df["js_price"] / df["aptprice"]) * 100
# df["price_sq"] = df["aptprice"] / df["ì£¼íƒí˜•"]
# df["price_py"] = df["price_sq"] * 3.305785
df["ì¡°ì‚¬ì¼"] = df["ì¡°ì‚¬ì¼"].astype(int)
df = df[-df["ì…ì£¼ì—°ë„"].astype(str).str.startswith('0')]
df.head()

,ì•„íŒŒíŠ¸ì½”ë“œ,ì•„íŒŒíŠ¸ëª…,ì…ì£¼ì—°ë„,ë„ì‹œ,êµ¬ì‹œêµ°,ìë©´ë™,í‰í˜•,í‰í˜•íƒ€ì…,ì„¸ëŒ€ìˆ˜,ì£¼íƒí˜•,ë¶„ì–‘ê°€,ì¡°ì‚¬ì¼,ë§¤ë§¤í•˜í•œê°€,ë§¤ë§¤ìƒí•œê°€,ì „ì„¸í•˜í•œê°€,ì „ì„¸ìƒí•œê°€,aptprice,aptprice_all_sum,js_price,js_rate
0,A01141201100012,ì‚¼ì„±ë¹Œë¼,1987,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œëŒ€ë¬¸êµ¬,ì—°í¬ë™,00028,,48,92.5624,0,20200612,28000,30000,18000,18000,29000.0,1392000.0,18000.0,62.068966
1,A01141201100025,ì¼ì§„ì•„ì´ìœŒ,20050530,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œëŒ€ë¬¸êµ¬,ì—°í¬ë™,00029,,3,97.9500,26820,20200612,50000,55000,28000,30000,52500.0,157500.0,29000.0,55.238095
2,A01141201200004,ë°±ë ¨ë¯¸ë¼ë³´,199505,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œëŒ€ë¬¸êµ¬,ë‚¨ê°€ì¢Œë™,00016,,2,48.3800,0,20200612,12000,14000,6000,7000,13000.0,26000.0,6500.0,50.000000
3,A01141201300014,ì¼ì‹ íœ´ë¨¼ë¹Œ,20060215,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œëŒ€ë¬¸êµ¬,ë¶ê°€ì¢Œë™,00031,N,52,103.8100,27800,20200612,59000,63000,39000,42000,61000.0,3172000.0,40500.0,66.393443
4,A01141201300016,ì‹ ì¼í•´í”¼íŠ¸ë¦¬,20051029,ì„œìš¸íŠ¹ë³„ì‹œ,ì„œëŒ€ë¬¸êµ¬,ë¶ê°€ì¢Œë™,00033,B,44,109.1300,27654,20200612,59000,64000,36000,40000,61500.0,2706000.0,38000.0,61.788618

In [5]:
import datetime
import timedelta
# ì˜¤ëŠ˜ë‚ ì§œ ê¸°ì¤€
dt = datetime.datetime.now()
fl_dt = str(dt.year) + str(dt.month) + str(dt.day)

In [6]:
# ì „êµ­ ì•„íŒŒíŠ¸ ì‹œê°€ì´ì•¡ ì§‘ê³„
dat2 = df.groupby(["ì¡°ì‚¬ì¼"])["aptprice_all_sum"].sum()
dat2 = dat2.reset_index()
dat2["ì§€ì—­ëª…"] = "ì „êµ­"
dat2 = dat2[["ì¡°ì‚¬ì¼","ì§€ì—­ëª…","aptprice_all_sum"]]
dat2.to_csv('all_apt_sum_' + fl_dt + '.csv')
dat2

           ì¡°ì‚¬ì¼ ì§€ì—­ëª…  aptprice_all_sum
0     19970115  ì „êµ­      1.285458e+10
1     19970215  ì „êµ­      1.301018e+10
2     19970315  ì „êµ­      1.313447e+10
3     19970415  ì „êµ­      1.322415e+10
4     19970515  ì „êµ­      1.337939e+10
...        ...  ..               ...
1103  20200515  ì „êµ­      3.285549e+11
1104  20200522  ì „êµ­      3.288353e+11
1105  20200529  ì „êµ­      3.289611e+11
1106  20200605  ì „êµ­      3.291082e+11
1107  20200612  ì „êµ­      3.292425e+11

[1108 rows x 3 columns]

In [7]:
# êµ¬ì‹œêµ°ë³„ ì•„íŒŒíŠ¸ ì‹œê°€ì´ì•¡ ì§‘ê³„
dat3 = df.groupby(["ì¡°ì‚¬ì¼","ë„ì‹œ"])["aptprice_all_sum"].sum()
dat3 = dat3.reset_index()
dat3 = dat3.rename(columns={'ë„ì‹œ' : 'ì§€ì—­ëª…'})
dat3.to_csv('city_apt_sum_' + fl_dt + '.csv')
dat3

            ì¡°ì‚¬ì¼    ì§€ì—­ëª…  aptprice_all_sum
0      19970115    ê°•ì›ë„      1.109630e+07
1      19970115    ê²½ê¸°ë„      4.355802e+09
2      19970115   ê²½ìƒë‚¨ë„      1.816817e+08
3      19970115   ê²½ìƒë¶ë„      4.546000e+06
4      19970115  ê´‘ì£¼ê´‘ì—­ì‹œ      1.086240e+08
...         ...    ...               ...
18633  20200612   ì „ë¼ë‚¨ë„      1.890538e+09
18634  20200612   ì „ë¼ë¶ë„      3.727527e+09
18635  20200612    ì œì£¼ë„      9.296834e+08
18636  20200612   ì¶©ì²­ë‚¨ë„      5.977351e+09
18637  20200612   ì¶©ì²­ë¶ë„      3.516451e+09

[18638 rows x 3 columns]

In [8]:
# êµ¬ì‹œêµ°ë³„ ì•„íŒŒíŠ¸ ì‹œê°€ì´ì•¡ ì§‘ê³„
dat4 = df[df["ë„ì‹œ"] == "ì„œìš¸íŠ¹ë³„ì‹œ"].groupby(["ì¡°ì‚¬ì¼","êµ¬ì‹œêµ°"])["aptprice_all_sum"].sum()
dat4 = dat4.reset_index()
dat4 = dat4.rename(columns={'êµ¬ì‹œêµ°' : 'ì§€ì—­ëª…'})
dat4.to_csv('sgg_apt_sum_' + fl_dt + '.csv')
dat4

            ì¡°ì‚¬ì¼  ì§€ì—­ëª…  aptprice_all_sum
0      19970115  ê°•ë‚¨êµ¬      1.164137e+09
1      19970115  ê°•ë™êµ¬      2.478500e+08
2      19970115  ê°•ë¶êµ¬      5.459925e+07
3      19970115  ê°•ì„œêµ¬      2.640251e+08
4      19970115  ê´€ì•…êµ¬      1.088115e+08
...         ...  ...               ...
27695  20200612  ìš©ì‚°êµ¬      3.834151e+09
27696  20200612  ì€í‰êµ¬      2.499413e+09
27697  20200612  ì¢…ë¡œêµ¬      9.896810e+08
27698  20200612   ì¤‘êµ¬      1.389512e+09
27699  20200612  ì¤‘ë‘êµ¬      1.862174e+09

[27700 rows x 3 columns]

In [9]:
# êµ¬ì‹œêµ°ë³„ ì•„íŒŒíŠ¸ ì‹œê°€ì´ì•¡ ì§‘ê³„
dat5 = df[df["ë„ì‹œ"] == "ê²½ê¸°ë„"].groupby(["ì¡°ì‚¬ì¼","êµ¬ì‹œêµ°"])["aptprice_all_sum"].sum()
dat5 = dat5.reset_index()
dat5 = dat5.rename(columns={'êµ¬ì‹œêµ°' : 'ì§€ì—­ëª…'})
dat5.to_csv('gg_apt_sum_' + fl_dt + '.csv')
dat5

            ì¡°ì‚¬ì¼  ì§€ì—­ëª…  aptprice_all_sum
0      19970115  ê³ ì–‘ì‹œ      7.953738e+08
1      19970115  ê³¼ì²œì‹œ      1.063462e+08
2      19970115  ê´‘ëª…ì‹œ      3.314012e+08
3      19970115  êµ¬ë¦¬ì‹œ      9.237360e+07
4      19970115  êµ°í¬ì‹œ      2.631987e+08
...         ...  ...               ...
33309  20200612  íŒŒì£¼ì‹œ      2.043920e+09
33310  20200612  í‰íƒì‹œ      2.124989e+09
33311  20200612  í¬ì²œì‹œ      1.834887e+08
33312  20200612  í•˜ë‚¨ì‹œ      2.823756e+09
33313  20200612  í™”ì„±ì‹œ      5.838203e+09

[33314 rows x 3 columns]

In [10]:
dat_all = pd.concat([dat2, dat3],axis = 0)
dat_all = pd.concat([dat_all,dat4], axis = 0)
dat_all = pd.concat([dat_all,dat5], axis = 0)
dat_all.to_csv('dat_all_' + fl_dt + '.csv')
dat_all

            ì¡°ì‚¬ì¼  ì§€ì—­ëª…  aptprice_all_sum
0      19970115   ì „êµ­      1.285458e+10
1      19970215   ì „êµ­      1.301018e+10
2      19970315   ì „êµ­      1.313447e+10
3      19970415   ì „êµ­      1.322415e+10
4      19970515   ì „êµ­      1.337939e+10
...         ...  ...               ...
33309  20200612  íŒŒì£¼ì‹œ      2.043920e+09
33310  20200612  í‰íƒì‹œ      2.124989e+09
33311  20200612  í¬ì²œì‹œ      1.834887e+08
33312  20200612  í•˜ë‚¨ì‹œ      2.823756e+09
33313  20200612  í™”ì„±ì‹œ      5.838203e+09

[80760 rows x 3 columns]