In [1]:
import pandas as pd
import pymysql
import numpy as np
import math

import datetime
# import timedelta
# 오늘날짜 기준
# dt = datetime.datetime.now()
# fl_dt = float(str(dt.year) + "." + str(dt.month))

In [2]:
db_con = pymysql.connect(
    user='zipdata', 
    passwd='vFkxsjfZdtGeLyQqGZ3zuwbMkrfkNB', 
    host='zipfund-price.c8vjhowj9gyc.ap-northeast-2.rds.amazonaws.com', 
    db='research_info', 
    charset='utf8'
)

cursor = db_con.cursor(pymysql.cursors.DictCursor)

sql = """
SELECT kb_apartment_id, cnt_nm, distance, Count FROM research_info.nearby_apart_info_cnt
where YEAR = 2021 
AND MONTH = 12
and DATE = 2
AND distance = 5000
and cnt_nm LIKE '%빌딩%';
"""

cursor.execute(sql)
result = cursor.fetchall()
m_dt1 = pd.DataFrame(result)
db_con.close()

m_dt1 = m_dt1.rename(columns={'Count' :str(m_dt1["cnt_nm"][0].split('_')[0]) +  "_" + str(m_dt1["distance"][0])})
m_dt1 = m_dt1.drop(columns=["cnt_nm", "distance"])
m_dt1

       kb_apartment_id  빌딩_5000
0                    1     4008
1                    2     4261
2                    3     5656
3                    4     6335
4                    5     5064
...                ...      ...
22495            22496     2552
22496            22497     8668
22497            22498        8
22498            22499      658
22499            22500     4426

[22500 rows x 2 columns]

In [4]:
final_result_addr_rent = pd.read_csv('D:\\ML model\\ML_INIT_20220208\\predict_data_all_view.csv', encoding='CP949')
final_result_addr_rent

,kb_unit_type_id,kb_apartment_id,x,y,number_of_units_total,net_area,number_of_units,age,subway_index,min_subway_distance,...,view_name,search_name,province_name,city_name,district_name,province_id,city_id,district_id,district_code,kb_rent
0,1,1,126.968160,37.591500,126.0,83.61,42.0,34.0,0.000000,0.0,...,청운 벽산빌리지,청운벽산빌리지,서울특별시,종로구,청운동,1,1,1,1111010100,47000.0
1,2,1,126.968160,37.591500,126.0,132.39,20.0,34.0,0.000000,0.0,...,청운 벽산빌리지,청운벽산빌리지,서울특별시,종로구,청운동,1,1,1,1111010100,57000.0
2,3,1,126.968160,37.591500,126.0,145.73,10.0,34.0,0.000000,0.0,...,청운 벽산빌리지,청운벽산빌리지,서울특별시,종로구,청운동,1,1,1,1111010100,60000.0
3,4,2,126.967381,37.586360,60.0,84.51,20.0,22.0,0.000000,0.0,...,청운 현대,청운현대,서울특별시,종로구,청운동,1,1,1,1111010100,58000.0
4,5,2,126.967381,37.586360,60.0,129.76,20.0,22.0,0.000000,0.0,...,청운 현대,청운현대,서울특별시,종로구,청운동,1,1,1,1111010100,70000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25561,65881,20868,126.558851,37.491192,1034.0,91.83,538.0,4.0,0.000000,0.0,...,스카이시티 자이,스카이시티자이,인천광역시,중구,중산동,4,50,1101,2811014500,38000.0
25562,65882,20868,126.558851,37.491192,1034.0,98.94,402.0,4.0,0.000000,0.0,...,스카이시티 자이,스카이시티자이,인천광역시,중구,중산동,4,50,1101,2811014500,42000.0
25563,65883,20869,127.195494,37.556665,734.0,84.32,390.0,3.0,2.133333,750.0,...,신안인스빌,신안인스빌,경기도,하남시,풍산동,8,108,2645,4145011000,68000.0
25564,65884,20869,127.195494,37.556665,734.0,93.01,241.0,3.0,2.133333,750.0,...,신안인스빌,신안인스빌,경기도,하남시,풍산동,8,108,2645,4145011000,72000.0
25565,65885,20869,127.195494,37.556665,734.0,93.00,103.0,3.0,2.133333,750.0,...,신안인스빌,신안인스빌,경기도,하남시,풍산동,8,108,2645,4145011000,72000.0

In [6]:
final_result_addr_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25566 entries, 0 to 25565
Data columns (total 62 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   kb_unit_type_id            25566 non-null  int64
 1   kb_apartment_id            25566 non-null  int64
 2   x                          25566 non-null  float64
 3   y                          25566 non-null  float64
 4   number_of_units_total      25566 non-null  float64
 5   net_area                   25566 non-null  float64
 6   number_of_units            25566 non-null  float64
 7   age                        25566 non-null  float64
 8   subway_index               25566 non-null  float64
 9   min_subway_distance        25566 non-null  float64
 10  culture                    25566 non-null  float64
 11  department_store           25566 non-null  float64
 12  mart                       25566 non-null  float64
 13  cafe                       25566 non-null  float64
 14  convenience                25566 non-null  float64
 15  hospital                   25566 non-null  float64
 16  pharmacy                   25566 non-null  float64
 17  close_apt_price_growth     25566 non-null  float64
 18  close_apt_rent_growth      25566 non-null  float64
 19  kb_rent_growth_24          25566 non-null  float64
 20  kb_rent_growth_36          25566 non-null  float64
 21  빌딩_5000                    25566 non-null  float64
 22  상가_100                     25566 non-null  float64
 23  상가_200                     25566 non-null  float64
 24  스타벅스_2000                  25566 non-null  float64
 25  학교_3000                    25566 non-null  float64
 26  학교_500                     25566 non-null  float64
 27  도서관_3000                   25566 non-null  float64
 28  우체국_5000                   25566 non-null  float64
 29  빌라_3000                    25566 non-null  float64
 30  IC_4000                    25566 non-null  float64
 31  IC_8000                    25566 non-null  float64
 32  오피스텔_6000                  25566 non-null  float64
 33  주상복합_5000                  25566 non-null  float64
 34  개발지구_6000                  25566 non-null  float64
 35  강남역_소요시간                   25566 non-null  float64
 36  시청역_소요시간                   25566 non-null  float64
 37  여의도역_소요시간                  25566 non-null  float64
 38  가산디지털단지역_소요시간              25566 non-null  float64
 39  성수역_소요시간                   25566 non-null  float64
 40  avg_trans_time             25566 non-null  float64
 41  number_of_dongs            25566 non-null  float64
 42  floor_highest_dong         25566 non-null  float64
 43  floor_lowest_dong          25566 non-null  float64
 44  number_of_rooms            25566 non-null  float64
 45  number_of_bathrooms        25566 non-null  float64
 46  rebuild                    25566 non-null  float64
 47  rent_per_size              25566 non-null  float64
 48  predict_xgb_rent_per_size  25566 non-null  float64
 49  결과차이(평당가/원)                25566 non-null  float64
 50  100-MAPE                   25566 non-null  float64
 51  predict_kb_rent            25566 non-null  float64
 52  view_name                  25566 non-null  object
 53  search_name                25566 non-null  object
 54  province_name              25566 non-null  object
 55  city_name                  25566 non-null  object
 56  district_name              25566 non-null  object
 57  province_id                25566 non-null  int64
 58  city_id                    25566 non-null  int64
 59  district_id                25566 non-null  int64
 60  district_code              25566 non-null  int64
 61  kb_rent                    25566 non-null  float64
dtypes: float64(51), int64(6), object(5)
memory usage: 12.1+ MB

In [7]:
final_result_addr_rent['district_code'] = final_result_addr_rent['district_code'].astype(str)

final_result_addr_rent['city_code'] = final_result_addr_rent['district_code'].str[:5]
final_result_addr_rent['province_code'] = final_result_addr_rent['district_code'].str[:2]
final_result_addr_rent

,kb_unit_type_id,kb_apartment_id,x,y,number_of_units_total,net_area,number_of_units,age,subway_index,min_subway_distance,...,province_name,city_name,district_name,province_id,city_id,district_id,district_code,kb_rent,city_code,province_code
0,1,1,126.968160,37.591500,126.0,83.61,42.0,34.0,0.000000,0.0,...,서울특별시,종로구,청운동,1,1,1,1111010100,47000.0,11110,11
1,2,1,126.968160,37.591500,126.0,132.39,20.0,34.0,0.000000,0.0,...,서울특별시,종로구,청운동,1,1,1,1111010100,57000.0,11110,11
2,3,1,126.968160,37.591500,126.0,145.73,10.0,34.0,0.000000,0.0,...,서울특별시,종로구,청운동,1,1,1,1111010100,60000.0,11110,11
3,4,2,126.967381,37.586360,60.0,84.51,20.0,22.0,0.000000,0.0,...,서울특별시,종로구,청운동,1,1,1,1111010100,58000.0,11110,11
4,5,2,126.967381,37.586360,60.0,129.76,20.0,22.0,0.000000,0.0,...,서울특별시,종로구,청운동,1,1,1,1111010100,70000.0,11110,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25561,65881,20868,126.558851,37.491192,1034.0,91.83,538.0,4.0,0.000000,0.0,...,인천광역시,중구,중산동,4,50,1101,2811014500,38000.0,28110,28
25562,65882,20868,126.558851,37.491192,1034.0,98.94,402.0,4.0,0.000000,0.0,...,인천광역시,중구,중산동,4,50,1101,2811014500,42000.0,28110,28
25563,65883,20869,127.195494,37.556665,734.0,84.32,390.0,3.0,2.133333,750.0,...,경기도,하남시,풍산동,8,108,2645,4145011000,68000.0,41450,41
25564,65884,20869,127.195494,37.556665,734.0,93.01,241.0,3.0,2.133333,750.0,...,경기도,하남시,풍산동,8,108,2645,4145011000,72000.0,41450,41
25565,65885,20869,127.195494,37.556665,734.0,93.00,103.0,3.0,2.133333,750.0,...,경기도,하남시,풍산동,8,108,2645,4145011000,72000.0,41450,41

In [104]:
final_result_addr_rent.columns

Index(['kb_unit_type_id', 'kb_apartment_id', 'net_area', 'number_of_units',
       'rent_ratio', 'kb_price_growth', 'kb_rent_growth', 'x', 'y',
       'number_of_parking', 'academy', 'harmful_facility', 'subway', 'culture',
       'department_store', 'mart', 'cafe', 'convenience', 'hospital',
       'pharmacy', 'facility_info', 'close_apt_price_growth',
       'close_apt_rent_growth', 'kb_rent_growth_24', 'kb_rent_growth_36',
       'price_per_size', 'rent_per_size', '빌딩_5000', 'subway_index',
       'min_subway_distance', 'max_subway_distance', 'mean_subway_distance',
       '상가_100', '상가_200', '스타벅스_2000', '학교_3000', '학교_500', '도서관_3000',
       'regist_for_earthquake', '우체국_5000', '빌라_3000', 'IC_4000', 'IC_8000',
       '오피스텔_6000', '주상복합_5000', '개발지구_6000', '강남역_소요시간', '시청역_소요시간',
       '여의도역_소요시간', 'number_of_units_total', 'number_of_dongs',
       'floor_highest_dong', 'floor_lowest_dong', 'built_year_month',
       'built_year_month_sub', 'age', 'number_of_rooms', 'number_of_bathrooms',
       'rebuild', 'search_name', 'province_name', 'city_name', 'district_name',
       'province_id', 'city_id', 'district_id', 'district_code', 'city_code',
       'province_code'],
      dtype='object')

In [8]:
col_list = ['province_name', 'city_name', 'district_name',  
            'province_id', 'city_id', 'district_id', 
            'province_code', 'city_code', 'district_code',
       '빌딩_5000', '강남역_소요시간', '개발지구_6000']

In [9]:
final_result_addr_rent_1 = final_result_addr_rent[col_list]
final_result_addr_rent_1 = final_result_addr_rent_1.drop_duplicates()
final_result_addr_rent_1

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000
0,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,4008.0,58.0,20.0
3,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,4261.0,56.0,18.0
8,서울특별시,종로구,명륜1가,1,1,70,11,11110,1111017000,4462.0,46.0,13.0
11,서울특별시,종로구,명륜2가,1,1,71,11,11110,1111017100,4740.0,43.0,32.0
13,서울특별시,종로구,명륜2가,1,1,71,11,11110,1111017100,4488.0,44.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...
25551,경기도,의왕시,삼동,8,107,2627,41,41430,4143010300,667.0,96.0,33.0
25553,서울특별시,종로구,무악동,1,1,87,11,11110,1111018700,5477.0,44.0,25.0
25555,경기도,성남시 수정구,창곡동,8,83,2145,41,41131,4113110800,2758.0,52.0,29.0
25560,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,48.0,116.0,9.0
25563,경기도,하남시,풍산동,8,108,2645,41,41450,4145011000,637.0,66.0,19.0

In [10]:
final_result_addr_rent_1.columns

Index(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code', '빌딩_5000',
       '강남역_소요시간', '개발지구_6000'],
      dtype='object')

In [11]:
final_result_addr_rent_1[final_result_addr_rent_1['district_name'].str.contains('가평읍')]

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000
25408,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,11.0,147.0,5.0
25410,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,11.0,144.0,5.0
25415,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,11.0,136.0,5.0
25417,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,11.0,140.0,5.0
25425,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,11.0,146.0,5.0

In [12]:
region_mean_d = final_result_addr_rent_1.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code'])['빌딩_5000', '강남역_소요시간', '개발지구_6000'].mean().reset_index()
region_mean_d['region_level'] = 'district'
region_mean_d

C:\Users\jhpark\AppData\Local\Temp/ipykernel_44080/3677794403.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_mean_d = final_result_addr_rent_1.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000,region_level
0,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,11.000000,146.000000,5.000000,district
1,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,11.000000,140.000000,5.000000,district
2,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,11.000000,147.000000,5.000000,district
3,경기도,가평군,청평면 청평리,8,123,4113,41,41820,4182032521,4.000000,134.833333,0.166667,district
4,경기도,고양시 덕양구,고양동,8,98,2437,41,41281,4128111600,45.250000,97.583333,3.166667,district
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,인천광역시,중구,신흥동3가,4,50,1084,28,28110,2811012800,661.000000,98.000000,16.500000,district
836,인천광역시,중구,운남동,4,50,1102,28,28110,2811014600,39.000000,118.000000,3.000000,district
837,인천광역시,중구,운서동,4,50,1103,28,28110,2811014700,24.166667,107.500000,3.000000,district
838,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,62.500000,119.000000,9.875000,district
839,인천광역시,중구,항동7가,4,50,1074,28,28110,2811011800,238.333333,110.000000,17.000000,district

In [125]:
region_mean_d.columns

Index(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code', '빌딩_5000',
       '강남역_소요시간', '개발지구_6000', 'region_level'],
      dtype='object')

In [13]:
region_mean_c = final_result_addr_rent_1.groupby(['province_name', 'city_name', 'province_id', 'city_id',
       'province_code', 'city_code'])['빌딩_5000', '강남역_소요시간', '개발지구_6000'].mean().reset_index()
region_mean_c['district_name'] = 'N'
region_mean_c['district_id'] = 'N'
region_mean_c['district_code'] = 'N'
region_mean_c = region_mean_c[['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code', '빌딩_5000',
       '강남역_소요시간', '개발지구_6000']]
region_mean_c['region_level'] = 'city'
region_mean_c

C:\Users\jhpark\AppData\Local\Temp/ipykernel_44080/715990776.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_mean_c = final_result_addr_rent_1.groupby(['province_name', 'city_name', 'province_id', 'city_id',

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000,region_level
0,경기도,가평군,N,8,123,N,41,41820,N,7.181818,138.363636,2.363636,city
1,경기도,고양시 덕양구,N,8,98,N,41,41281,N,483.240876,73.919708,14.788321,city
2,경기도,고양시 일산동구,N,8,99,N,41,41285,N,600.187500,78.291667,13.416667,city
3,경기도,고양시 일산서구,N,8,100,N,41,41287,N,434.222222,90.407407,14.962963,city
4,경기도,과천시,N,8,101,N,41,41290,N,902.333333,39.444444,35.333333,city
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,인천광역시,미추홀구,N,4,53,N,28,28177,N,1101.265152,89.712121,16.931818,city
72,인천광역시,부평구,N,4,56,N,28,28237,N,1539.944444,77.932099,19.444444,city
73,인천광역시,서구,N,4,58,N,28,28260,N,565.062500,89.658333,20.387500,city
74,인천광역시,연수구,N,4,54,N,28,28185,N,680.576000,100.232000,21.200000,city
75,인천광역시,중구,N,4,50,N,28,28110,N,197.526316,106.210526,10.526316,city

In [14]:
region_mean_p = final_result_addr_rent_1.groupby(['province_name', 'province_id',
       'province_code'])['빌딩_5000', '강남역_소요시간', '개발지구_6000'].mean().reset_index()

region_mean_p['city_name'] = 'N'
region_mean_p['district_name'] = 'N'
region_mean_p['city_id'] = 'N'
region_mean_p['district_id'] = 'N'
region_mean_p['city_code'] = 'N'
region_mean_p['district_code'] = 'N'

region_mean_p = region_mean_p[['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code', '빌딩_5000',
       '강남역_소요시간', '개발지구_6000']]
region_mean_p['region_level'] = 'province'
region_mean_p

C:\Users\jhpark\AppData\Local\Temp/ipykernel_44080/3938282649.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_mean_p = final_result_addr_rent_1.groupby(['province_name', 'province_id',

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000,region_level
0,경기도,N,N,8,N,N,41,N,N,602.457472,76.827773,16.903900,province
1,서울특별시,N,N,1,N,N,11,N,N,4224.668044,47.472796,27.155992,province
2,인천광역시,N,N,4,N,N,28,N,N,938.481061,89.312500,19.121212,province

In [15]:
region_mean_stat = pd.concat([region_mean_p, region_mean_c, region_mean_d], axis = 0)
region_mean_stat["created_at"] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
region_mean_stat

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,빌딩_5000,강남역_소요시간,개발지구_6000,region_level,created_at
0,경기도,N,N,8,N,N,41,N,N,602.457472,76.827773,16.903900,province,2022-02-09 17:40:17
1,서울특별시,N,N,1,N,N,11,N,N,4224.668044,47.472796,27.155992,province,2022-02-09 17:40:17
2,인천광역시,N,N,4,N,N,28,N,N,938.481061,89.312500,19.121212,province,2022-02-09 17:40:17
0,경기도,가평군,N,8,123,N,41,41820,N,7.181818,138.363636,2.363636,city,2022-02-09 17:40:17
1,경기도,고양시 덕양구,N,8,98,N,41,41281,N,483.240876,73.919708,14.788321,city,2022-02-09 17:40:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,인천광역시,중구,신흥동3가,4,50,1084,28,28110,2811012800,661.000000,98.000000,16.500000,district,2022-02-09 17:40:17
836,인천광역시,중구,운남동,4,50,1102,28,28110,2811014600,39.000000,118.000000,3.000000,district,2022-02-09 17:40:17
837,인천광역시,중구,운서동,4,50,1103,28,28110,2811014700,24.166667,107.500000,3.000000,district,2022-02-09 17:40:17
838,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,62.500000,119.000000,9.875000,district,2022-02-09 17:40:17
839,인천광역시,중구,항동7가,4,50,1074,28,28110,2811011800,238.333333,110.000000,17.000000,district,2022-02-09 17:40:17

In [151]:
region_mean_stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 945 entries, 0 to 865
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   province_name  945 non-null    object
 1   city_name      945 non-null    object
 2   district_name  945 non-null    object
 3   province_id    945 non-null    int64
 4   city_id        945 non-null    object
 5   district_id    945 non-null    object
 6   province_code  945 non-null    object
 7   city_code      945 non-null    object
 8   district_code  945 non-null    object
 9   빌딩_5000        945 non-null    float64
 10  강남역_소요시간       945 non-null    float64
 11  개발지구_6000      945 non-null    float64
 12  region_level   945 non-null    object
 13  created_at     945 non-null    object
dtypes: float64(3), int64(1), object(10)
memory usage: 110.7+ KB

In [155]:
db_con = pymysql.connect(
    user='zipdata', 
    passwd='vFkxsjfZdtGeLyQqGZ3zuwbMkrfkNB', 
    host='zipfund-price.c8vjhowj9gyc.ap-northeast-2.rds.amazonaws.com', 
    db='recommend_service', 
    charset='utf8'
)

# Insert 수행 전 건수 확인
cursor = db_con.cursor(pymysql.cursors.DictCursor)

# DB 적재 수행
sql2 = """insert into recommend_service.region_mean_stat(province_name, city_name, district_name, province_id, city_id, district_id, province_code, city_code, district_code, building_5000_cnt, trs_time_gn_cnt, develop_district_cnt, region_level, created_at) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

cursor.executemany(sql2, region_mean_stat.values.tolist())
db_con.commit()

db_con.close()

In [132]:
col_list2 = ['province_name', 'city_name', 'district_name',  
            'province_id', 'city_id', 'district_id', 
            'province_code', 'city_code', 'district_code','rent_per_size']

In [134]:
final_result_addr_rent_2 = final_result_addr_rent[col_list2]
final_result_addr_rent_2 = final_result_addr_rent_2.drop_duplicates()
final_result_addr_rent_2

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,rent_per_size
0,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,1858.293207
1,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,1423.292885
2,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,1361.058807
3,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,2268.791031
4,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,1783.330379
...,...,...,...,...,...,...,...,...,...,...
28214,경기도,양평군,용문면 다문리,8,124,4246,41,41830,4183040024,677.868534
28215,경기도,양평군,용문면 다문리,8,124,4246,41,41830,4183040024,691.702586
28216,경기도,양평군,용문면 다문리,8,124,4246,41,41830,4183040024,585.232798
28217,경기도,양평군,용문면 다문리,8,124,4246,41,41830,4183040024,1185.530164
28218,경기도,양평군,용문면 다문리,8,124,4246,41,41830,4183040024,1064.140487

In [135]:
region_rent_d = final_result_addr_rent_2.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code'])['rent_per_size'].mean().reset_index()
region_rent_d['region_level'] = 'district'
region_rent_d

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,rent_per_size,region_level
0,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,340.559798,district
1,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,618.928625,district
2,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,608.993121,district
3,경기도,가평군,청평면 청평리,8,123,4113,41,41820,4182032521,545.427033,district
4,경기도,고양시 덕양구,고양동,8,98,2437,41,41281,4128111600,980.795618,district
...,...,...,...,...,...,...,...,...,...,...,...
861,인천광역시,중구,신흥동3가,4,50,1084,28,28110,2811012800,931.029491,district
862,인천광역시,중구,운남동,4,50,1102,28,28110,2811014600,1056.435959,district
863,인천광역시,중구,운서동,4,50,1103,28,28110,2811014700,1035.966216,district
864,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,1283.802692,district
865,인천광역시,중구,항동7가,4,50,1074,28,28110,2811011800,523.262890,district

In [136]:
region_rent_c = final_result_addr_rent_2.groupby(['province_name', 'city_name', 'province_id', 'city_id',
       'province_code', 'city_code'])['rent_per_size'].mean().reset_index()
region_rent_c['district_name'] = 'N'
region_rent_c['district_id'] = 'N'
region_rent_c['district_code'] = 'N'
region_rent_c = region_rent_c[['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code','rent_per_size']]
region_rent_c['region_level'] = 'city'
region_rent_c

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,rent_per_size,region_level
0,경기도,가평군,N,8,123,N,41,41820,N,525.926645,city
1,경기도,고양시 덕양구,N,8,98,N,41,41281,N,1380.268798,city
2,경기도,고양시 일산동구,N,8,99,N,41,41285,N,1626.057341,city
3,경기도,고양시 일산서구,N,8,100,N,41,41287,N,1377.923174,city
4,경기도,과천시,N,8,101,N,41,41290,N,3069.058205,city
...,...,...,...,...,...,...,...,...,...,...,...
71,인천광역시,미추홀구,N,4,53,N,28,28177,N,829.726781,city
72,인천광역시,부평구,N,4,56,N,28,28237,N,1086.970238,city
73,인천광역시,서구,N,4,58,N,28,28260,N,981.673351,city
74,인천광역시,연수구,N,4,54,N,28,28185,N,1567.167990,city
75,인천광역시,중구,N,4,50,N,28,28110,N,793.418647,city

In [137]:
region_rent_p = final_result_addr_rent_2.groupby(['province_name', 'province_id',
       'province_code'])['rent_per_size'].mean().reset_index()
region_rent_p['city_name'] = 'N'
region_rent_p['district_name'] = 'N'
region_rent_p['city_id'] = 'N'
region_rent_p['district_id'] = 'N'
region_rent_p['city_code'] = 'N'
region_rent_p['district_code'] = 'N'

region_rent_p = region_rent_p[['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code', 'rent_per_size']]
region_rent_p['region_level'] = 'province'
region_rent_p

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,rent_per_size,region_level
0,경기도,N,N,8,N,N,41,N,N,1419.974766,province
1,서울특별시,N,N,1,N,N,11,N,N,2478.485901,province
2,인천광역시,N,N,4,N,N,28,N,N,1049.174880,province

In [142]:
region_mean_per_price = pd.concat([region_rent_d, region_rent_c, region_rent_p], axis = 0)
region_mean_per_price["created_at"] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
region_mean_per_price

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,rent_per_size,region_level,created_at
0,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,340.559798,district,2021-12-14 17:23:19
1,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,618.928625,district,2021-12-14 17:23:19
2,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,608.993121,district,2021-12-14 17:23:19
3,경기도,가평군,청평면 청평리,8,123,4113,41,41820,4182032521,545.427033,district,2021-12-14 17:23:19
4,경기도,고양시 덕양구,고양동,8,98,2437,41,41281,4128111600,980.795618,district,2021-12-14 17:23:19
...,...,...,...,...,...,...,...,...,...,...,...,...
74,인천광역시,연수구,N,4,54,N,28,28185,N,1567.167990,city,2021-12-14 17:23:19
75,인천광역시,중구,N,4,50,N,28,28110,N,793.418647,city,2021-12-14 17:23:19
0,경기도,N,N,8,N,N,41,N,N,1419.974766,province,2021-12-14 17:23:19
1,서울특별시,N,N,1,N,N,11,N,N,2478.485901,province,2021-12-14 17:23:19
2,인천광역시,N,N,4,N,N,28,N,N,1049.174880,province,2021-12-14 17:23:19

In [158]:
db_con = pymysql.connect(
    user='zipdata', 
    passwd='vFkxsjfZdtGeLyQqGZ3zuwbMkrfkNB', 
    host='zipfund-price.c8vjhowj9gyc.ap-northeast-2.rds.amazonaws.com', 
    db='recommend_service', 
    charset='utf8'
)

# Insert 수행 전 건수 확인
cursor = db_con.cursor(pymysql.cursors.DictCursor)

# DB 적재 수행
sql2 = """insert into recommend_service.region_mean_per_price(province_name, city_name, district_name, province_id, city_id, district_id, province_code, city_code, district_code, mean_rent_per_size, region_level, created_at) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

cursor.executemany(sql2, region_mean_per_price.values.tolist())
db_con.commit()

db_con.close()

In [16]:
final_result_addr_rent.columns

Index(['kb_unit_type_id', 'kb_apartment_id', 'x', 'y', 'number_of_units_total',
       'net_area', 'number_of_units', 'age', 'subway_index',
       'min_subway_distance', 'culture', 'department_store', 'mart', 'cafe',
       'convenience', 'hospital', 'pharmacy', 'close_apt_price_growth',
       'close_apt_rent_growth', 'kb_rent_growth_24', 'kb_rent_growth_36',
       '빌딩_5000', '상가_100', '상가_200', '스타벅스_2000', '학교_3000', '학교_500',
       '도서관_3000', '우체국_5000', '빌라_3000', 'IC_4000', 'IC_8000', '오피스텔_6000',
       '주상복합_5000', '개발지구_6000', '강남역_소요시간', '시청역_소요시간', '여의도역_소요시간',
       '가산디지털단지역_소요시간', '성수역_소요시간', 'avg_trans_time', 'number_of_dongs',
       'floor_highest_dong', 'floor_lowest_dong', 'number_of_rooms',
       'number_of_bathrooms', 'rebuild', 'rent_per_size',
       'predict_xgb_rent_per_size', '결과차이(평당가/원)', '100-MAPE',
       'predict_kb_rent', 'view_name', 'search_name', 'province_name',
       'city_name', 'district_name', 'province_id', 'city_id', 'district_id',
       'district_code', 'kb_rent', 'city_code', 'province_code'],
      dtype='object')

In [17]:
col_list3 = ['province_name', 'city_name', 'district_name',  
            'province_id', 'city_id', 'district_id', 
            'province_code', 'city_code', 'district_code',
             '100-MAPE',  'predict_kb_rent'
       ]

In [19]:
final_result_addr_rent_3 = final_result_addr_rent[col_list3]
final_result_addr_rent_3 = final_result_addr_rent_3.drop_duplicates()
final_result_addr_rent_3

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,100-MAPE,predict_kb_rent
0,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,96.496012,45353.127931
1,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,98.286965,56023.571003
2,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,99.104178,60537.495257
3,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,98.420192,57083.714478
4,서울특별시,종로구,청운동,1,1,1,11,11110,1111010100,97.357092,71850.038125
...,...,...,...,...,...,...,...,...,...,...,...
25561,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,98.005172,38758.035807
25562,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,99.005196,41582.183022
25563,경기도,하남시,풍산동,8,108,2645,41,41450,4145011000,99.243484,68514.431123
25564,경기도,하남시,풍산동,8,108,2645,41,41450,4145011000,98.215428,73284.891761
25565,경기도,하남시,풍산동,8,108,2645,41,41450,4145011000,98.958054,72750.203613

In [24]:
region_pre_d_min = final_result_addr_rent_3.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code'])['100-MAPE', 'predict_kb_rent'].min().reset_index()
region_pre_d_min['type'] = 'min'
region_pre_d_min['region_level'] = 'district'
region_pre_d_min

C:\Users\jhpark\AppData\Local\Temp/ipykernel_44080/1619526976.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_pre_d_min = final_result_addr_rent_3.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,100-MAPE,predict_kb_rent,type,region_level
0,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,64.127916,6086.570966,min,district
1,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,86.230668,6027.893965,min,district
2,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,90.763122,15429.731047,min,district
3,경기도,가평군,청평면 청평리,8,123,4113,41,41820,4182032521,79.250628,7546.927094,min,district
4,경기도,고양시 덕양구,고양동,8,98,2437,41,41281,4128111600,82.717397,11580.436133,min,district
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,인천광역시,중구,신흥동3가,4,50,1084,28,28110,2811012800,94.850070,17780.890552,min,district
836,인천광역시,중구,운남동,4,50,1102,28,28110,2811014600,92.199325,26558.960265,min,district
837,인천광역시,중구,운서동,4,50,1103,28,28110,2811014700,91.895586,15135.843471,min,district
838,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,93.528517,19914.321592,min,district
839,인천광역시,중구,항동7가,4,50,1074,28,28110,2811011800,75.079767,6889.876709,min,district

In [25]:
region_pre_d_max = final_result_addr_rent_3.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',
       'district_id', 'province_code', 'city_code', 'district_code'])['100-MAPE', 'predict_kb_rent'].max().reset_index()
region_pre_d_max['type'] = 'max'
region_pre_d_max['region_level'] = 'district'
region_pre_d_max

C:\Users\jhpark\AppData\Local\Temp/ipykernel_44080/2566750626.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_pre_d_max = final_result_addr_rent_3.groupby(['province_name', 'city_name', 'district_name', 'province_id', 'city_id',

,province_name,city_name,district_name,province_id,city_id,district_id,province_code,city_code,district_code,100-MAPE,predict_kb_rent,type,region_level
0,경기도,가평군,가평읍 달전리,8,123,4084,41,41820,4182025023,99.217087,12907.848514,max,district
1,경기도,가평군,가평읍 대곡리,8,123,4083,41,41820,4182025022,99.960504,24296.353241,max,district
2,경기도,가평군,가평읍 읍내리,8,123,4082,41,41820,4182025021,96.471250,20188.106863,max,district
3,경기도,가평군,청평면 청평리,8,123,4113,41,41820,4182032521,98.912788,28362.684295,max,district
4,경기도,고양시 덕양구,고양동,8,98,2437,41,41281,4128111600,99.985166,35385.556670,max,district
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,인천광역시,중구,신흥동3가,4,50,1084,28,28110,2811012800,99.825971,31019.229054,max,district
836,인천광역시,중구,운남동,4,50,1102,28,28110,2811014600,99.906329,44257.271530,max,district
837,인천광역시,중구,운서동,4,50,1103,28,28110,2811014700,99.813589,36567.835348,max,district
838,인천광역시,중구,중산동,4,50,1101,28,28110,2811014500,99.703309,43622.578764,max,district
839,인천광역시,중구,항동7가,4,50,1074,28,28110,2811011800,99.575636,27260.043094,max,district

In [143]:
# region_list =[]
# mean_list = []

# for i in final_result_addr_rent_1["province_name"].unique():
    
#     region_list.append(i)
#     mean_list.append(final_result_addr_rent_1[final_result_addr_rent_1["province_name"] == i].mean().values)
    
# region_mean_p = pd.concat([pd.DataFrame(region_list, columns=["name"]),pd.DataFrame(mean_list, columns=final_result_addr_rent_1.drop(columns=['province_name', 'city_name',
#        'district_name']).columns)], axis=1)
# region_mean_p['region_unit'] = 'province'
# region_mean_p

In [144]:
# region_list =[]
# mean_list = []

# for i in final_result_addr_rent_1["city_name"].unique():
    
#     region_list.append(i)
#     mean_list.append(final_result_addr_rent_1[final_result_addr_rent_1["city_name"] == i].mean().values)
    
# region_mean_c = pd.concat([pd.DataFrame(region_list, columns=["name"]),pd.DataFrame(mean_list, columns=final_result_addr_rent_1.drop(columns=['province_name', 'city_name',
#        'district_name']).columns)], axis=1)
# region_mean_c['region_unit'] = 'city'
# region_mean_c

In [145]:
# region_list =[]
# mean_list = []

# for i in final_result_addr_rent_1["district_name"].unique():
    
#     region_list.append(i)
#     mean_list.append(final_result_addr_rent_1[final_result_addr_rent_1["district_name"] == i].mean().values)
    
# region_mean_d= pd.concat([pd.DataFrame(region_list, columns=["name"]),pd.DataFrame(mean_list, columns=final_result_addr_rent_1.drop(columns=['province_name', 'city_name',
#        'district_name']).columns)], axis=1)
# region_mean_d['region_unit'] = 'district'
# region_mean_d

In [146]:
# region_mean = pd.concat([region_mean_p, region_mean_c, region_mean_d], axis = 0)
# region_mean

In [147]:
# # region_mean["created_at"] = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
# region_mean = region_mean.reset_index(drop=True)
# region_mean

In [36]:
from datetime import date
import os
#     import os

tdy = str(date.today().isoformat()).replace('-','')
fl_nm = 'region_value'

dir = 'D:\\ML model\\' + 'ML_INIT_'+ tdy
if not os.path.exists(dir):
    os.mkdir(dir)

dir_nm = os.path.join(dir, fl_nm)

final_result_addr_rent.to_csv(dir_nm +".csv", index = False)

In [ ]:
final_result_addr_rent.to_csv(dir + '\\region_valuecsv', index=False, encoding='CP949')